@import "tailwindcss";



body {
  font-family: Arial, Helvetica, sans-serif;
  box-sizing: border-box;
}
.backgroundimg {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: .5;
  background: linear-gradient(135deg, #0678e9, #2d4d71, #064381fc);;
  background-size: cover;
  background-position: center;
  z-index: -1;
}


.background {
  background: linear-gradient(135deg, #f0f4f83d, #d9e2ec8a, #bcccdc00);
}

.transition{
transition: .5s;
}